* {
  outline: none !important;
}



@import 'modules/fonts';
@import 'modules/function';
@import 'modules/variables';
@import 'modules/mixins';


body {
  font-family: "serif", arial;
}

@import 'modules/extend';
@import 'modules/utilities';

.box2{
  @extend %transition-35;
}
.box{
  perspective: 500px;
  @extend %transition-4;
  p{
    font-size: rem(32);
  }
  .inner{
    border: 4px solid #e5a043;
    background: #fff2dd;
    width: 125px;
    height: 125px;
    @include scale3d(1, 1, 1);
  }
}

@media print {
  .container {
    width: auto;
  }
}

// less than 1920px
@include media-breakpoint-down-destop(xxxl) {

}
// less than 1600px
@include media-breakpoint-down-destop(xxl) {

}
// less than 1366px
@include media-breakpoint-down-destop(xl) {

}

// less than 1200px
@include media-breakpoint-down(lg) {

}
// less than 992px

@include media-breakpoint-down(md) {

}
// less than 768px
@include media-breakpoint-down(sm) {

}
// less than 576px
@include media-breakpoint-down(xs) {

}
















