* {
  outline: none !important;
}
@import 'modules/fonts';
@import 'modules/function';
@import 'modules/variables';
@import 'modules/mixins';


body {
  font-family: "serif", arial;
}



@import 'modules/extend';
@import 'modules/utilities';



.head2{
  font-size:rem(38);
  background-color: $primary;
  @extend %radius30;
}




.head1{
  @extend %radius25;
}



@media print {
  .container {
    width: auto;
  }
}





@include media-breakpoint-down(lg) {
  .head2 {
    display: block;
  }
}

@include media-breakpoint-down(md) {
  .custom-class {
    display: block;
  }
}

@include media-breakpoint-down(sm) {
  .custom-class {
    display: block;
  }
}
@include media-breakpoint-down(xs) {
  .custom-class {
    display: block;
  }
}
















