* {
  outline: none !important;
}

@import 'modules/fonts';
@import 'modules/function';
@import 'modules/variables';
@import 'modules/mixins';




body {
  font-family: "serif", arial;
}

@import 'modules/extend';
@import 'modules/utilities';



.box{
  p{
    color:$mycolor;
    font-size: rem(17);
    &:hover{

    }
  }
}












@media print {
  .container {
    width: auto;
  }
}

// less than 1920px
@include media-breakpoint-down-destop(xxxl) {

}
// less than 1600px
@include media-breakpoint-down-destop(xxl) {

}
// less than 1366px
@include media-breakpoint-down-destop(xl) {

}

// less than 1200px
@include media-breakpoint-down(lg) {

}
// less than 992px

@include media-breakpoint-down(md) {

}
// less than 768px
@include media-breakpoint-down(sm) {

}
// less than 576px
@include media-breakpoint-down(xs) {

}
















